:root {
  --color-red: #dd2829;
  --color-blue: #1e88e5;
}

.black-all-child * {
  color: black !important;
  font-weight: normal !important;
}

option {
  color: black;
}

.Toastify {
  position: absolute;
  z-index: 999999;
}
